.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease-out;
}

.overlay.visible {
    opacity: 1;
    z-index: 1;
}

.overlay-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    position: absolute;
    top: 0;
    max-width: 100vw;
}

.sign {
    max-width: 100vw;
}

.sign-name {
    position: absolute;
    bottom: 45px;
    font-size: 45px;
}